{% extends "base.html" %}

{% block title %}
    chatting-setting - Home
{% endblock title %}

{% block content %}

		{% if not user.is_authenticated %}
		    <h1 class="heading" style="text-align: center;">Welcome To chatting-setting!</h1><br>
			
			<img src="../static/main.png" style="display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100%;">
	    
		{% else %}
		    <h1 class="heading" style="text-align: center;">Welcome Back, {{ user }}!</h1><br><hr style="background: rgb(190, 255, 39);">
		    <h2 class="normal"style="text-align: center; color: rgb(255, 0, 0);">Yehh You Are In</h2><br>
		    <h4 class="normal" style="text-align: center;" >Let's Do Something</h4><br><br>

		  <div style="text-align: center;"><a href="{% url 'chat:all' %}" class="link" style="margin-right: 5%;">Let's Chat</a> 
		    <a href="{% url 'accounts:logout' %}" class="link">Logout</a> 
		   
		    <br><hr style="background: rgb(190, 255, 39);"><br>
			
            </div>
		
	

		{% endif %}

{% endblock content %}








